arrow==1.3.0
beautifulsoup4==4.12.2
exchange-calendars==4.2.8
fake-useragent==1.3.0
fastapi==0.108.0
Flask==3.0.0
lxml==4.9.3
pandas==2.0.3
psycopg2-binary==2.9.9
requests==2.31.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.50
tqdm==4.66.1
uvicorn==0.25.0